.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  padding-top: 20px;
}

.App_todo {
  background-color: #fff;
  max-width: 500px;
  margin: 0 auto 0 auto;
  min-height: 600px;
}

.App_todo--toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 5px;
}

.App_todo-input {
  flex: 1;
  margin-right: 5px;
  width: 100px;
  height: 30px;
}